
@media (min-width: 320px) {
  :root {
    --scale: 0.5;
  }
}

html {
  background-color: hsl(0, 0%, 100%);
  color: #1a202c;
  -webkit-font-smoothing: antialiased;
  font-family: 'Overused Grotesk', sans-serif;                                              
  line-height: 1.5;
  font-weight: 400;
}

body {
  padding: calc(20px * var(scale));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
/*content*/
h1,
h4 {
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 700;
  line-height: 1.3;
  font-size: 20px;
}

p {
  font-size: 16px;
}

ul {
  font-size: 14px;
}

a {
  color: #0a3ba3ea;
  text-decoration: none;
  transition: filter 0.3s ease-in-out;
}

a:hover {
  filter: brightness(0.8);
}

.logo {
  height: 2.5em;
  vertical-align: middle;
  border-radius: 7%;
  pointer-events: none;
}

p.introduction {
  font-size: 20px;
}

.container {
  padding: calc(55px * var(--scale));
  margin: 0 auto;
  width: 768px;
  flex-direction: column;
}

.title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.icon {
  width: 2rem;
  height: 2rem;
  display: inline;
  transition: opacity 0.3s ease-in-out;
}

.icon {
  opacity: 0.7;
}

a.github {
  color:#000000;
}

a.linkedin {
  color: #0077B5;
}

a.goodreads {
  background:linear-gradient(120DEG,#553B08,#c5bdbd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.unsplash {
  color: #000000;
}

img.email {
  vertical-align: middle;
  height: 18px;
  padding-top: 13px;
  padding-right:10px;
  float: right;
  clear:both;
  pointer-events: none;
}



p > code,
li > code,
dd > code,
td > code {
  background: #ffffff;
  color: #000000;
  word-wrap: break-word;
  box-decoration-break: clone;
  /*padding: .1rem .3rem .2rem;*/
  border-radius: .2rem;
}

/*company logos*/

img.logo1 {
  width: 15px;
  vertical-align: middle;
  padding-bottom: 3px;
  pointer-events: none;
}

img.logo2 {
  width:20px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo3 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;

}

img.logo4 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;

}

img.logo5 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo6 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo7 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo8 {
  width: 20px;
  vertical-align: middle;
  padding-bottom: 5px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo9 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo10 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo11 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo12 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo13 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo14 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo15 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo16 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo17 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo18 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo19 {
  width: 16px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

img.logo20 {
  height: 14px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 3px;
  pointer-events: none;
}

/*footer*/

p.footer {
  font-size: 13px;
}

/**
 * Tabs
 */
 .tabs {
	display: flex;
	flex-wrap: wrap; 
}
.tabs label {
	order: 1; 
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
  background: #000000;
  font-weight: bold;
  color: white;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99; 
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: #fff;
  
}
.tabs input[type="radio"] {
	display: none;
  
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
  color: #000000;

}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
  
  
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

/* tabset CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Tabs Styling
*/


.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

input:focus-visible + label {
  outline: 2px solid rgba(0,102,204,1);
  border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  color: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}


.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.tabset > input:checked + label {
  border-color: rgb(163, 163, 163);
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid rgb(163, 163, 163);
}

/* Timeline Container */
.timeline {
  background: var(--primary-color);
  margin: -10px auto;
  padding: 0px;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 1px solid rgb(163, 163, 163);
  margin-left: 26px;
}

/* Card container */
.card {
  position: relative;
  margin: 0 0 5px 20px;
  padding: 0x;
  border-radius: px;
  font-size: 14px;
  
}

/* Timeline dot  */
.card::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: black;
  border-radius: 999px;
  left: -23px;
  top: 7px;
}

.timeline-text {
  font-size: 14px;
}

.fa-goodreads {
  display: inline-block !important;
  font: normal normal normal 14px/1 FontAwesome !important;
}

.tabset {
  min-height: 400px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 10px 0;
  text-align: center;
}

/* Add padding to prevent content from being hidden behind footer */
main {
  padding-bottom: 50px;
}